<div class="p-3 mb-2 bg-primary text-white">
    <h2>
      Let's see which credit card maxes out your travel benefits
    </h2>
      <dt>
        Created <%= time_ago_in_words(@the_conversation.created_at) %> ago
      </dt>
</div>

<hr>

<div>
  <div>
    <h5>
      Add your estimated spend in each category to see which credit card maxes out travel benefits. Average monthly expenses from the US Burueau of Labor (2023) already inputted for you.
    </h5>

    <form action="/insert_spending_habit_input" method="post">
      <input type="hidden" name="conversation_id" value= "<%= @the_conversation.id %>"/>

      <div>


        <label for="groceries_box">
          Groceries
        </label>

        <input type="text" id="groceries_box" name="query_groceries" value="500">
      </div>

      <div>
        <label for="gasfuel_box">
          Gas &fuel
        </label>

        <input type="text" id="gasfuel_box" name="query_gasfuel" value="200">
      </div>

      <div>
        <label for="diningrestaurants_box">
          Dining & Restaurants
        </label>

        <input type="text" id="diningrestaurants_box" name="query_diningrestaurants" value="200">
      </div>

      <div>
        <label for="travel_flights_hotels_uber_box" >
          Travel flights hotels uber
        </label>

        <input type="text" id="travel_flights_hotels_uber_box" name="query_travel_flights_hotels_uber" value="400">
      </div>

      <div>
        <label for="airline_loyalty_box">
          Airline loyalty
        </label>

        <input type="text" id="airline_loyalty_box" name="query_airline_loyalty" value="">
      </div>

      <div>
        <label for="annual_fee_tolerance_box">
          Annual fee tolerance
        </label>

        <input type="text" id="annual_fee_tolerance_box" name="query_annual_fee_tolerance">
      </div>

      <button>
        Enter
      </button>
    </form>
  </div>
</div>


<hr>

<% @spending_habits = @the_conversation.spending_habit_inputs %>
<% if @spending_habits.any? %>
  <% sh = @spending_habits.last %>
    <dl>
      <h3> Spending Habit </h3>
      <div>
      </div>

      <dt>Groceries</dt>
      <dd><%= sh.groceries.to_s %></dd>

      <dt>Dining &amp; Restaurants</dt>
      <dd><%= sh.diningrestaurants.to_s %></dd>

      <dt>Gas &amp; Fuel</dt>
      <dd><%= sh.gasfuel.to_s %></dd>


      <dt>Travel, Flights, Hotels &amp; Uber</dt>
      <dd><%= sh.travel_flights_hotels_uber.to_s %></dd>

      <dt>Airline Loyalty</dt>
      <dd><%= sh.airline_loyalty.to_s %></dd>

      <dt>Annual Fee Tolerance</dt>
      <dd><%= sh.annual_fee_tolerance.to_s %></dd>

    </dl>
<% else %>
  <p>No spending-habit data entered yet.</p>
<% end %>

<hr>

<% @the_messages = @the_conversation.messages %>
<dl>
<% @the_messages.each do | a_message | %>
<div class="container">
  <dt>
    <%= a_message.role %>
  </dt>
  <dd style="white-space: pre-wrap; overflow-wrap: break-word;">
    <%= a_message.body.gsub("\n", "<br>").html_safe %>
  </dd>
</div>
<% end %>
</dl>

<% sh = @the_conversation.spending_habit_inputs.last %>
<% if @the_conversation.spending_habit_inputs.any? %>
<form action="/insert_message" method="post">
  <input type="hidden" name="conversation_id" value="<%= @the_conversation.id %>">
  <input type="hidden" name="query_initial_spending_habits_input_id" value="<%= sh.id %>">

  <textarea name="query_body" id="query_body"></textarea>
  <button>Write a message</button>

</form>
<% else %>
Add spending habits to start the chat!
<% end %>

<hr>

    <div>
        <a href="/delete_conversation/<%= @the_conversation.id %>">
          Delete conversation
        </a>
    </div>
