<div>
  <div>
    <h1>
      Conversation #<%= @the_conversation.id %> details
    </h1>

    <div>
      <div>
        <a href="/conversations">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_conversation/<%= @the_conversation.id %>">
          Delete conversation
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_conversation.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_conversation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_conversation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit conversation
    </h2>

    <form action="/modify_conversation/<%= @the_conversation.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_conversation.user_id %>">
      </div>

      <button>
        Update conversation
      </button>
    </form>
  </div>
</div>

<hr>
