<div>
  <div>
    <h1>
      Here are your spending habits!
    </h1>

    <div>
        <a href="/delete_conversation/<%= @the_conversation.id %>">
          Delete conversation
        </a>
    </div>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_conversation.created_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new spending habit input
    </h2>

    <form action="/insert_spending_habit_input" method="post">
      <div>
        <label for="groceries_box">
          Groceries
        </label>

        <input type="text" id="groceries_box" name="query_groceries">
      </div>

      <div>
        <label for="gasfuel_box">
          Gasfuel
        </label>

        <input type="text" id="gasfuel_box" name="query_gasfuel">
      </div>

      <div>
        <label for="diningrestaurants_box">
          Diningrestaurants
        </label>

        <input type="text" id="diningrestaurants_box" name="query_diningrestaurants">
      </div>

      <div>
        <label for="travel_flights_hotels_uber_box">
          Travel flights hotels uber
        </label>

        <input type="text" id="travel_flights_hotels_uber_box" name="query_travel_flights_hotels_uber">
      </div>

      <div>
        <label for="airline_loyalty_box">
          Airline loyalty
        </label>

        <input type="text" id="airline_loyalty_box" name="query_airline_loyalty">
      </div>

      <div>
        <label for="annual_fee_tolerance_box">
          Annual fee tolerance
        </label>

        <input type="text" id="annual_fee_tolerance_box" name="query_annual_fee_tolerance">
      </div>

      <button>
        Create spending habit input
      </button>
    </form>
  </div>
</div>


<hr>

<% @spending_habits = SpendingHabitInput.where({ :conversation_id => @the_conversation.id}) %>
<% if @spending_habits.any? %>
  <% @spending_habits.each do |sh| %>
    <dl>
      <dt>Airline Loyalty</dt>
      <dd><%= sh.airline_loyalty.to_s %></dd>

      <dt>Annual Fee Tolerance</dt>
      <dd><%= sh.annual_fee_tolerance.to_s %></dd>

      <dt>Dining &amp; Restaurants</dt>
      <dd><%= sh.diningrestaurants.to_s %></dd>

      <dt>Gas &amp; Fuel</dt>
      <dd><%= sh.gasfuel.to_s %></dd>

      <dt>Groceries</dt>
      <dd><%= sh.groceries.to_s %></dd>

      <dt>Travel, Flights, Hotels &amp; Uber</dt>
      <dd><%= sh.travel_flights_hotels_uber.to_s %></dd>
    </dl>
  <% end %>
<% else %>
  <p>No spending-habit data entered yet.</p>
<% end %>

<hr>
