<div>
  <div>
    <h1>
      List of all spending habit inputs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new spending habit input
    </h2>

    <form action="/insert_spending_habit_input" method="post">
      <div>
        <label for="created_by_id_box">
          Created by
        </label>

        <input type="text" id="created_by_id_box" name="query_created_by_id">
      </div>

      <div>
        <label for="groceries_box">
          Groceries
        </label>

        <input type="text" id="groceries_box" name="query_groceries">
      </div>

      <div>
        <label for="gasfuel_box">
          Gasfuel
        </label>

        <input type="text" id="gasfuel_box" name="query_gasfuel">
      </div>

      <div>
        <label for="diningrestaurants_box">
          Diningrestaurants
        </label>

        <input type="text" id="diningrestaurants_box" name="query_diningrestaurants">
      </div>

      <div>
        <label for="travel_flights_hotels_uber_box">
          Travel flights hotels uber
        </label>

        <input type="text" id="travel_flights_hotels_uber_box" name="query_travel_flights_hotels_uber">
      </div>

      <div>
        <label for="airline_loyalty_box">
          Airline loyalty
        </label>

        <input type="text" id="airline_loyalty_box" name="query_airline_loyalty">
      </div>

      <div>
        <label for="annual_fee_tolerance_box">
          Annual fee tolerance
        </label>

        <input type="text" id="annual_fee_tolerance_box" name="query_annual_fee_tolerance">
      </div>

      <button>
        Create spending habit input
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Created by
        </th>

        <th>
          Groceries
        </th>

        <th>
          Gasfuel
        </th>

        <th>
          Diningrestaurants
        </th>

        <th>
          Travel flights hotels uber
        </th>

        <th>
          Airline loyalty
        </th>

        <th>
          Annual fee tolerance
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_spending_habit_inputs.each do |a_spending_habit_input| %>
      <tr>
        <td>
          <%= a_spending_habit_input.id %>
        </td>

        <td>
          <%= a_spending_habit_input.created_by_id %>
        </td>

        <td>
          <%= a_spending_habit_input.groceries %>
        </td>

        <td>
          <%= a_spending_habit_input.gasfuel %>
        </td>

        <td>
          <%= a_spending_habit_input.diningrestaurants %>
        </td>

        <td>
          <%= a_spending_habit_input.travel_flights_hotels_uber %>
        </td>

        <td>
          <%= a_spending_habit_input.airline_loyalty %>
        </td>

        <td>
          <%= a_spending_habit_input.annual_fee_tolerance %>
        </td>

        <td>
          <%= time_ago_in_words(a_spending_habit_input.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_spending_habit_input.updated_at) %> ago
        </td>

        <td>
          <a href="/spending_habit_inputs/<%= a_spending_habit_input.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
